.git
.gitignore
.env
.env.example
.editorconfig
docker-compose.yml
Dockerfile
README.md
node_modules
npm-debug.log
.vscode
.idea
*.log
storage/logs/*
storage/framework/cache/*
bootstrap/cache/*
.DS_Store
tests/
temp_laravel/
vendor/
public/hot
public/storage
.phpunit.result.cache
